nav {
    flex-grow: 1;
    text-align: center;
}

nav img {
    border-radius: 150px;
    margin: 2rem 2rem 0.5rem;
    box-shadow: 5px 5px 5px #000;
    height:    10rem;
}

.navList {
    list-style-type: none;
    padding: 0;
    margin: 1rem;
    display: none;
}

.navList li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

.navList li a:hover {
    color: var(--vegasGold-color);
}

.title {
    margin: 1rem 1rem 3rem;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1px;
}