nav {
    background-color: var(--background-color);
}

nav img {
    border-radius: 150px;
    margin-top: 3rem;
    box-shadow: 10px 10px 5px #000;
}

.navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navList li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

.navList li a:hover {
    color: var(--vegasGold-color);
}




    