@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


html {
    --primary-color: #512C73;
    --secondary-color: #361356;
    --tertiary-color: #6F4D8F;
    --accent-color: #9277AC;
    --background-color: #200439;
    --vegasGold-color: #c5b358;

    /* If we add any padding or border onto an element it does not affect the width of the element.
       This makes sure that the padding and border are included in the total width and height of the elements. */
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    /* so that scroll bars are not shown by default */
    margin: 0;
    color: #fff;
    background-color: var(--background-color);
    text-align: center;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg).
    This will make the text easier to read */
    background-image: url("assets/jayme-mccolgan-IP1rSwr8R6o-unsplash.jpg");

    /* Position and center the image to scale nicely on all screens */
    background-position: center;    /* Center the image */
    background-repeat: no-repeat;   /* Do not repeat the image */
    background-size: cover;         /* Resize the background image to cover the entire container */
    position: relative;
    /* width: 100%;
    overflow-y: auto;               /* add scrollbars back to the hero section only */
    height:  70vh;
}

.hero-text {
    margin: 10px;
    text-align: center;
}

.hero-name {
    font-size: 3rem;
    color: var(--vegasGold-color);
    letter-spacing: 10px;
}